@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to TCH1902</h1>
    <p style="color:aqua">Learn about <a href="https://docs.microsoft.com/aspnet/core" style="color:blueviolet">building Web apps with ASP.NET Core</a>.</p>
</div>
<a asp-controller="Product" asp-action="Index">Go to Product</a>
    